*, *{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
img {
    width: 100%;
    margin-bottom: 40px;
    margin-top: 40px;
}

:root {
    --primary: #110f0e;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #1b1915;
    text-decoration: none;
}

header {
    background-color: #e5e555;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 100px;
    z-index: 10;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav li {
    list-style: none;
    margin: 0 10px;
    align-items: center;
    justify-content: center;
    
}

.nav li a {
    color: #EFB726;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s;
}

.nav li:hover a {
    color: var(--primary);
}

footer {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e5e555;
    color: #1a1407;
    box-sizing: border-box;
    
}

ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

#section-bottom {
    background-color: #242021;
    color: #e5e555;
    text-align: start;
    justify-content: center;
    
}

.video {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #444444;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
    position: relative;
}



#section-bottom img {
    width: 10%;
    
}

